@model ColaComNois.Entidades.Adversarios

<tr>
    <td>
        <strong>Nome</strong>
    </td>
    <td>
        <span class="label label-primary" style="font-size: 100% !important;">@Html.DisplayFor(model => model.Nome)</span>
    </td>
</tr>

<tr>
    <td>
        <strong>Responsável</strong>
    </td>
    <td>@Html.DisplayFor(model => model.Responsavel)</td>
</tr>

<tr>
    <td>
        <strong>Telefone</strong>
    </td>
    <td>@Html.DisplayFor(model => model.Telefone)</td>
</tr>
<tr>
    <td>
        <strong>Nota</strong>
    </td>
    <td>@Html.DisplayFor(model => model.Nota)</td>
</tr>
<tr>
    <td>
        <strong>Observação</strong>
    </td>
    <td>@Html.DisplayFor(model => model.Observacao)</td>
</tr>W