@model ColaComNois.Entidades.Jogadores

<title>Cadastrar - Jogador</title>

@{
    ViewBag.Title = "Cadastrar - Jogador";
    Html.RenderPartial("_partial/_header_bootstrap");
}

<script src="~/bootstrap/js/jquery.easy-pie-chart.js"></script>

<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Jogadores
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Jogadores</li>
                    <li>/</li>
                    <li>Cadastrar</li>
                </ul>
            </small>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget no-margin">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe075;"></span> Cadastrar
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="thumbnail">
                                <img src="~/bootstrap/img/ccn.png" />
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <form class="form-horizontal">
                                <h3 class="heading-a">Geral</h3>
                                <div class="form-group">
                                    <label for="userName" class="col-sm-2 control-label">Nome Completo</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @id = "userName" } })
                                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="userName" class="col-sm-2 control-label">RG</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Data_Nascimento, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="birthDate" class="col-sm-2 control-label">Data de Nascimento</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.Data_Nascimento, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Data_Admissao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Data Admissão</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.Data_Admissao, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Comissao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<h3 class="heading-a">About</h3>*@

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">É Comissão?</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Sim
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked> Não
                                        </label>
                                    </div>
                                </div>

                                <div class="form_submit clearfix">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <button class="btn btn-primary btn-lg">Cadastrar</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#RG").mask("99.999.999-*");
    });
</script>