@model IList<ColaComNois.Entidades.Jogadores>

<head>
    <title>Lista de jogadores</title>

    @{
        Html.RenderPartial("_partial/_cabecalho_princp");
        Html.RenderPartial("_partial/_cabecalho_list");
    }

</head>
<body>
    
    <div class="main-container">
        <div class="dashboard-wrapper">
            <div class="page-title clearfix">
                <h2>
                    Jogadores 
                    <small>
                        <ul>
                            <li>Home</li>
                            <li>/</li>
                            <li>Jogadores</li>
                            <li>/</li>
                            <li>Listar</li>
                        </ul>
                    </small>
                </h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Lista
                            </div>
                        </div>
                        <div class="widget-body">
                            <div id="dt_example" class="example_alt_pagination">
                                <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                                    <thead>
                                        <tr>
                                            <th style="width:15%">Nome</th>
                                            <th style="width:15%">RG</th>
                                            <th style="width:15%">Data Nascimento</th>
                                            <th style="width:15%">Admissão</th>
                                            <th style="width:15%">Demissão</th>
                                            <th style="width:10%">Comissão</th>
                                            <th style="width:20%" class="hidden-phone">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="gradeX">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RG)
                                                </td>
                                                <td>
                                                    @item.Data_Nascimento.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @item.Data_Admissao.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @if (item.Data_Demissao.HasValue)
                                                    {
                                                        @item.Data_Demissao.Value.ToString("dd/MM/yyyy")
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comissao)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "Jogadores", new { Id = item.Id})" title="Editar" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-edit actions-icons">
                                                    </a>
                                                    <a href="@Url.Action("Details", "Jogadores", new { Id = item.Id})" title="Detales" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-search actions-icons">
                                                    </a>
                                                    <a href="@Url.Action("Delete", "Jogadores", new { Id = item.Id})" title="Excluir" data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-trash actions-icons">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


