@model ColaComNois.Entidades.Despesas

@Html.AntiForgeryToken()

<h3 class="heading-a">Geral</h3>
<div class="form-group">
    <label for="userName" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @id = "userName" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label for="userName" class="col-sm-2 control-label">Valor</label>
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label for="birthDate" class="col-sm-2 control-label">Data de Vencimento</label>
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Data_Vencimento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Data_Vencimento, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label for="birthDate" class="col-sm-2 control-label">Data de Pagamento</label>
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Data_Pagamento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Data_Pagamento, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EnumDropDownListFor(model => model.Status, "Selecione", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Status)
    </div>
</div>

@*<h3 class="heading-a">Sobre</h3>*@

<div class="form-group">
    <label for="Observacao" class="col-sm-2 control-label">Observação</label>
    <div class="col-sm-10">
        <textarea id="Observacao" cols="30" rows="4" class="form-control"> 
         </textarea>
        @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
    </div>
</div>




