@model ColaComNois.Entidades.Jogadores

@Html.AntiForgeryToken()

<h3 class="heading-a">Geral</h3>
<div class="form-group">
    <label for="userName" class="col-sm-2 control-label">Nome Completo</label>
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @id = "userName" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label for="userName" class="col-sm-2 control-label">RG</label>
    <div class="col-sm-10">
        @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.RG, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label for="Data_Nascimento" class="col-sm-2 control-label">Data de Nascimento</label>
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Data_Nascimento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Data_Nascimento, "", new { @class = "text-danger" })
    </div>
</div>

@if (Model != null)
{
    <div class="form-group">
        <label for="birthDate" class="col-sm-2 control-label">Data de Demissão</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Data_Demissao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Data_Demissao, "", new { @class = "text-danger" })
        </div>
    </div>
}

<div class="form-group">
    <label class="col-sm-2 control-label">Data Admissão</label>
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Data_Admissao, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Data_Admissao, "", new { @class = "text-danger" })
    </div>
</div>

@*<h3 class="heading-a">About</h3>*@

<div class="form-group">
    <label class="col-sm-2 control-label">É Comissão?</label>
    <div class="col-sm-10">
        <label class="radio-inline">
            @Html.RadioButtonFor(model => model.Comissao, true, new { @class = "text-danger", @checked = "false", @id = "optionsRadios1" })
            Sim
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(model => model.Comissao, false, new { @class = "text-danger", @checked = "true", @id = "optionsRadios2" })
            Não
        </label>
        @Html.ValidationMessageFor(model => model.Comissao, "", new { @class = "text-danger" })
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#RG").mask("99.999.999-*");
    });
</script>

