@model ColaComNois.Entidades.Jogadores

<tr>
    <td>
        <strong>Nome</strong>
    </td>
    <td>
        <span class="label label-primary" style="font-size: 100% !important;">@Html.DisplayFor(model => model.Nome)</span>
    </td>
</tr>

<tr>
    <td>
        <strong>RG</strong>
    </td>
    <td>@Html.DisplayFor(model => model.RG)</td>
</tr>

<tr>
    <td>
        <strong>Data de Nascimento</strong>
    </td>
    <td>@Html.DisplayFor(model => model.Data_Nascimento)</td>
</tr>
<tr>
    <td>
        <strong>Data de Admissão</strong>
    </td>
    <td>@Html.DisplayFor(model => model.Data_Admissao)</td>
</tr>
<tr>
    <td>
        <strong>Data de Demissão</strong>
    </td>
    <td>
        <span class="text-error">@Html.DisplayFor(model => model.Data_Demissao)</em></span>
    </td>
</tr>
<tr>
    <td>
        <strong>É Comissão?</strong>
    </td>
    <td>
        @Html.DisplayFor(model => model.Comissao)
    </td>
</tr>

